.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 50%;
  }
  
  .content-table thead tr {
    background-color: rgb(16, 57, 140);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
  }
  
  .content-table th .content-table td {
    padding: 12px 15px;
  }
  .erro {
    color: crimson;
  }
  .success {
    color: #053683;
    font-weight: bolder;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(16, 57, 140);
  }
  
  .button-33 {
    background-color: rgb(16, 57, 140);
    border-radius: 60px;
    box-shadow: rgba(34, 112, 145, 0.3) 0 -25px 18px -14px inset,
    rgba(34, 112, 145, 0.3) 0 1px 2px, rgba(34, 112, 145, 0.3) 0 2px 4px,
    rgba(34, 112, 145, 0.3) 0 4px 8px, rgba(34, 112, 145, 0.3) 0 8px 16px,
    rgba(34, 112, 145, 0.3) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 270ms;
    border: 0;
    font-size: 17px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    background-color: rgb(16, 57, 140);
    box-shadow:  rgba(34, 112, 145, 0.3) 0 -25px 18px -14px inset,
    rgba(34, 112, 145, 0.3) 0 1px 2px, rgba(34, 112, 145, 0.3) 0 2px 4px,
    rgba(34, 112, 145, 0.3) 0 4px 8px, rgba(34, 112, 145, 0.3) 0 8px 16px,
    rgba(34, 112, 145, 0.3) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  .contorno {
    border-radius: 25px;
    background-color: #b2bed3;
    border: 10px solid #b2bed3;
  }
  
  .error-div {
    border-radius: 25px;
    background-color: #bb3d3d;
    border: 10px solid #d3b2b2;
    margin: 2em 0;
  }
  
  .list {
    margin: 0 2em;
    color: #720118;
    font-weight: bold;
  }

  select {
    width: 100%;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(133, 167, 235);
  }
  
  input[type="text"] {
    border-radius: 1em;
    border: 2px solid rgb(16, 57, 140);
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  
  label >input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /*background-color: #eee;*/
    background-color: #fff;
    border: 1px solid #ccc;
    /*border-radius: 50%;*/
    border-radius: 4px;
  }
  
  .checkBox {
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px; /* Space for the check mark */
    cursor: pointer;
  }
  
  /* On mouse-over, add a grey background color */
  .checkmark:hover {
    background-color: rgb(133, 167, 235);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(16, 57, 140);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
    text-align: center;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    vertical-align: center;
  }
  .container .checkmark{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body{
    background-image: linear-gradient(rgb(34, 34, 121), rgb(57, 57, 170), rgb(88, 88, 252))
  }
  .box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  } 
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  .box select option {
    padding: 30px;
  }
  .links {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .links:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }  
  .links:hover {
   background-position: 0;
  } 
  .links:hover::before{
    width: 100%;
  }
.button1 {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
.button1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0563af; ;
    border-radius: 10rem;
    z-index: -2;
  }
  .button1:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0563af, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
.button1:hover {
    color: #fff;
    .button1:before {
      width: 100%;
    }
  }
}
.button-container {
    display: flex;
    gap: 3em;
}
