.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
.content-table thead tr {
    background-color: rgb(0, 63, 152);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table th
.content-table td {
    padding: 12px 15px;
}
.erro{
    color: rgb(243, 65, 100);
}
.success{
    color: rgb(56, 109, 2);
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.links{
    color: rgb(0, 63, 152);
}
.content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(0, 63, 152);
}
.button-33 {
    background-color: rgb(0, 63, 152);
    border-radius: 60px;
    box-shadow: rgba(45, 188, 100, .3) 0 -25px 18px -14px inset, rgba(45, 188, 100, .16) 0 1px 2px, rgba(45, 188, 100, .16) 0 2px 4px, rgba(45, 188, 100, .16) 0 4px 8px, rgba(45, 188, 100, .15) 0 8px 16px, rgba(45, 188, 100, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 270ms;
    border: 0;
    font-size: 17px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-33:hover {
    background-color: rgb(4, 87, 203);
    box-shadow: rgba(45, 188, 100, .35) 0 -25px 18px -14px inset, rgba(45, 188, 100, .25) 0 1px 2px, rgba(45, 188, 100, .25) 0 2px 4px, rgba(45, 188, 100, .25) 0 4px 8px, rgba(45, 188, 100, .25) 0 8px 16px, rgba(45, 188, 100, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
.contorno{
    border-radius: 25px;
    background-color:#b2d3c2;
    border: 10px solid #b2d3c2;

}
.list{
    margin-left: 2em;
    color:  rgb(174, 21, 52);
    font-weight: bold;
}
